{{extend ("./parent.html")}} {{#block ("body")}}

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>手机号码</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>  
                    {{#each(students)}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.age}}</td>
                        <td>{{this.sex}}</td>
                        <td>{{this.phone}}</td>
                        <td>
                            <a href="#" class="btn btn-success">编辑</a> |

                            <input type="button" class="btn btn-danger" value="删除">
                        </td>
                    </tr>
                    {{/each}}
            </tbody>
        </table>

{{/block}}